<section class="card blogpost" data-id={{id}}>
    <h2 class="post-title">{{title}}</h2>
    <p>{{content}}</p>
    <p class="post-info">Post made by: <span class="username">{{user.username}}</span> @ {{post_date}}</p>
  </a>
</section>