<section class="card" data-id={{id}}>
    <p>{{content}}</p>
    {{#if user.username}}
    <p>{{user.username}}</p>
    {{else}}
    <p>Guest User</p>
    {{/if}}
    <p>{{post_date}}</p>
    
  </a>
</section>