<section class="card blogpost" data-id={{id}}>
  <h2 class="post-title">{{title}}</h2>
  <p>{{content}}</p>
 <p class="post-info">Post made by: <span class="username">{{user.username}}</span> @ {{post_date}}</p>
  <div class="du-btns" style="display: none">
    <button class="del-btn">Delete</button>
    <button class="upd-btn">Update</button>
  </div>
  <form id=form{{id}} class="form upd-form" style="display:none">
    <div class="form-group">
      <label for="post-title">Title:</label>
      <input class="form-input" type="text" id=post-title{{id}} />
    </div>
    <div class="form-group">
      <label for="post-content">Content:</label>
      <input class="form-input" type="text" id=post-content{{id}} />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Update Post</button>
    </div>
  </form>
</section>