<section class="card blogpost" data-id={{id}}>
    <h2 class="post-title">{{title}}</h2>
    <p>{{content}}</p>
    <p class="post-info">Post made by: <span class="username">{{user.username}}</span> @ {{post_date}}</p>
    {{#if loggedIn}}
    <form id="comment-form">
        <label class="form-label"for="comment">Leave a comment:</label>
        <textarea class="form-input" type="text" id="comment-entry" name="comment-entry" required></textarea>
        <button class="form-button" type="submit" id="com-sub-btn">Submit</button>
    </form>
    {{/if}}
   
</section>
<section id="comment-box">
    {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</section>
<script src="/js/comment.js"></script>